In [10]:
import os
import numpy as np
import pandas as pd
import json

#******* MATS *******#
MATS_PATH = os.path.join('Input-files','mats-27-07.csv')
PROG_PATH = os.path.join('Input-files','prog-27-07.csv')
JSON_PATH = os.path.join('Request-files','output-72.json')


df_mats = pd.read_csv(MATS_PATH, 
                    index_col='matCode') #Definimos el indice matCode




#dtypes = [datetime.datetime, str, float, float, float,float,float,float,str,float,float]
df_progs = pd.read_csv(PROG_PATH,index_col='ppp_code',keep_default_na=True)

df_unique_mats = df_mats

#Limpio los datos
df_unique_mats = df_unique_mats.drop('genre', 1)
df_unique_mats = df_unique_mats.drop('mmrClasification', 1)
df_unique_mats = df_unique_mats.drop('feedCode', 1)
df_unique_mats = df_unique_mats.drop('anioProd', 1)
df_unique_mats = df_unique_mats.drop('matType', 1)
df_unique_mats.drop_duplicates(subset=None, keep='first', inplace=True)

#Filter matName
#print(df_mats.loc[149500]['matName'])
#print(df_unique_mats.loc[149500]['matName'])

In [4]:
import openpyxl

#Leer las records de un json
KEYS_TO_USE = ['programId','pppCode','profecha','hourFrom','hourTo','program','matCodesAssigned','avg_rating','boxoffice','classification','genres','runs_available','time_available','boxoffice_percentil']

KEYS_TO_USE_IN_DF = ['programId','pppCode','profecha','hourFrom','hourTo','program','matCodesAssigned', 'matName','avg_rating','boxoffice','classification','genres','runs_available','time_available','boxoffice_percentil']

def read_json_file(file_path, keys_to_use):
    with open(file_path) as prog_output:
        content = json.load(prog_output)
     
    programming_result = content['result']['solution']
    records = []
    for prog in programming_result:
        records.append(get_record_from_json(prog,keys_to_use))        
        
    return tuple(records)

def get_record_from_json(json_record,keys_to_use):
    record = []
    matCodesAssigned=0
    for field in keys_to_use:
        if type(json_record[field]) is list:
            matCodesAssigned = int(json_record[field][0])
            record.append(json_record[field][0])
            if matCodesAssigned in df_mats.index:
                record.append(df_unique_mats.loc[matCodesAssigned]['matName'])
            else:
                record.append('NaN')
        else:
            record.append(json_record[field])
        
    return tuple(record)

predictive_result = read_json_file(JSON_PATH, KEYS_TO_USE)

df_result = pd.DataFrame.from_records(predictive_result,
                                      columns=KEYS_TO_USE_IN_DF,
                                      index="pppCode")

writer = pd.ExcelWriter('output-prediction-58-test.xlsx', engine='xlsxwriter')
df_result.to_excel(writer, sheet_name='Grid', index=True)

#grouped_matAssigned = df_result.groupby('matCodesAssigned')

ds_count_unique = df_result.loc[df_result.program=='FILM',:].matName.value_counts()
ds_count_unique.to_excel(writer, sheet_name='Count movies')

df_result.loc[df_result.program=='FILM',:].groupby('profecha').avg_rating.agg(['count','min','max','mean']).to_excel(writer,sheet_name='Ratings by day')

df_progs.groupby('mat_code')['rating'].agg(['count','min','max','mean']).to_excel(writer,sheet_name='Hstoric Materials')



#Lista total de titulos
mats_list = df_unique_mats.index.tolist()
mats_set = set(mats_list)
print('Total de materiales: ' + str(len(mats_set)))

#Lista de titulos asignados
mats_assigned_list = df_result.loc[df_result.program=='FILM',:].matCodesAssigned.tolist()
#mats_assigned_list = df_result.matCodesAssigned.tolist()
mats_assigned_set = set(mats_assigned_list)
print('Total de materiales asignados: ' + str(len(mats_assigned_set)))

mats_not_assigned = mats_set.difference(mats_assigned_set)
print('Total de materiales NO asignados: ' + str(len(mats_not_assigned)))

#for mat_no in mats_not_assigned:
#    print(mat_no)

#is_TBSH = df_progs['Feed']=='TBSH'
#print(is_TBSH.shape)
#df_progs

#writer.save()



#df_result

Total de materiales: 858
Total de materiales asignados: 88
Total de materiales NO asignados: 797

In [3]:
df_result.loc[df_result.program=='FILM',:].head()

,programId,profecha,hourFrom,hourTo,program,matCodesAssigned,matName,avg_rating,boxoffice,classification,genres,runs_available,time_available,boxoffice_percentil
pppCode,,,,,,,,,,,,,,
8754614,2001756,2020-05-01,08:55:26,10:30:30,FILM,41454,DUMB & DUMBER,0.091667,247275374.0,ATP,"AVENTURAS,COMEDIA",9.0,2021.0,9.0
8754616,2001756,2020-05-01,14:39:19,16:18:54,FILM,139392,CHARLIE'S ANGELS: FULL THROTTLE,0.041000,259175788.0,ATP,"ACCIÓN,AVENTURAS,COMEDIA,POLICIAL",6.0,2022.0,9.0
8754618,2001756,2020-05-01,18:09:18,19:57:04,FILM,139526,BEWITCHED,0.052105,131426169.0,ATP,"COMEDIA,FANTASÍA,ROMANCE",15.0,2021.0,8.0
8754622,2001756,2020-05-01,03:30:06,04:54:29,FILM,144938,OBSERVE AND REPORT,0.042727,26973554.0,SAM 16,"COMEDIA,DRAMA,POLICIAL",10.0,2021.0,5.0
8754619,2001756,2020-05-01,19:57:04,22:00:00,FILM,2132204,"ALEXANDER AND THE TERRIBLE, HORRIBLE, NO GOOD,...",0.070000,100654149.0,ATP,"COMEDIA,FAMILIAR",3.0,2020.0,8.0

In [10]:
df_result.loc[df_result.program=='FILM',:].groupby('profecha').avg_rating.agg(['count','min','max','mean']).head()

            count       min    max      mean
profecha
2020-05-01      8  0.000000  0.095  0.046507
2020-05-02      9  0.000000  0.096  0.043895
2020-05-03      9  0.025385  0.096  0.040379
2020-05-04      8  0.000000  0.050  0.030085
2020-05-05      8  0.015833  0.175  0.059512

In [11]:
df_historic_rating = df_progs.loc[df_progs.rep_count==0].groupby('mat_code')['rating'].agg(['count','min','max','mean'])
print(df_historic_rating.loc[2131883])

count    1.00
min      0.02
max      0.02
mean     0.02
Name: 2131883, dtype: float64

In [87]:
df_progs.loc[(df_progs.rep_count==1) & (df_progs.mat_code==139366)]

Empty DataFrame
Columns: [prog_start, prog_name, prog_duration, mat_code, con_code, run_count, rep_count, Feed, rating]
Index: []

In [86]:
df_progs.loc[(df_progs.mat_code==139366)]

,prog_start,prog_name,prog_duration,mat_code,con_code,run_count,rep_count,Feed,rating
ppp_code,,,,,,,,,
6678994,2017-08-07 21:47:00,TBS FUN CLUB,133,139366,939032,1,0,TBSH,0.03
6737349,2017-09-30 00:57:00,FILM,125,139366,939032,2,0,TBSH,0.16
6729367,2017-10-27 22:00:00,TBS FUN CLUB,133,139366,939032,3,0,TBSH,0.04

In [97]:
df_result.head()

,programId,profecha,hourFrom,hourTo,program,matCodesAssigned,matName,avg_rating,boxoffice,classification,genres,runs_available,time_available,boxoffice_percentil
pppCode,,,,,,,,,,,,,,
8754438,2002709,2020-05-01,06:00:00,06:34:51,FILLERS TBS,9990,NaN,NaN,NaN,None,None,NaN,NaN,NaN
8758903,2151600,2020-05-01,02:03:45,02:47:09,FALLING SKIES,9991,NaN,NaN,NaN,None,None,NaN,NaN,NaN
8754469,2002151,2020-05-01,04:54:29,05:59:59,WORLD'S DUMBEST,9992,NaN,NaN,NaN,None,None,NaN,NaN,NaN
8754614,2001756,2020-05-01,08:55:26,10:30:30,FILM,139943,ZATHURA,0.040556,64321501.0,ATP,"ACCIÓN,AVENTURAS,FAMILIAR,FANTASÍA",5.0,2022.0,7.0
8754616,2001756,2020-05-01,14:39:19,16:18:54,FILM,137008,MY DOG SKIP,0.074000,35547761.0,ATP,"DRAMA,FAMILIAR",3.0,2020.0,6.0

In [6]:
df_result.loc[df_result.program=='FILM',:]

pandas.core.frame.DataFrame

In [5]:
df_result_with_reps = df_result

df_result_with_reps["is_rep"] = np.nan

In [93]:
df_result_films = df_result_with_reps.loc[df_result_with_reps.program=='FILM',:]
df_result_films.head(1)


df_result_films = df_resutl_films.astype({'profecha':'datetime64','hourFrom':'datetime64','hourTo':'datetime64','is_rep':'Int64'})

df_result_films.dtypes

programId                       int64
profecha               datetime64[ns]
hourFrom               datetime64[ns]
hourTo                 datetime64[ns]
program                        object
matCodesAssigned                int64
matName                        object
avg_rating                    float64
boxoffice                     float64
classification                 object
genres                         object
runs_available                float64
time_available                float64
boxoffice_percentil           float64
is_rep                          Int64
dtype: object

In [14]:
df_mat = df_result_films.loc[df_result_films.matCodesAssigned==2133763,:]
#df_mat = df_mat.set_index(['profecha'])
#print(df_mat)
today = pd.to_datetime('2020-05-08')

#df_mat.loc[today.:'2020-05-08']#.loc[df_mat.hourFrom<'14:452:47']

start_date = '2020-05-07'
end_date = '2020-05-08'
end_hour = '14:52:47'
mask = (df_mat['profecha'] >= start_date) & (df_mat['profecha'] <= end_date) & (df_mat['hourFrom'] <= end_hour) & (np.isnan(df_mat['is_rep']))
#print(df_mat.loc[mask].index)
for ipppCodeMat in df_mat.loc[mask].index:
    df_mat.at[ipppCodeMat, 'is_rep'] = 1


print(df_mat)

Empty DataFrame
Columns: [programId, profecha, hourFrom, hourTo, program, matCodesAssigned, matName, avg_rating, boxoffice, classification, genres, runs_available, time_available, boxoffice_percentil, is_rep]
Index: []

In [27]:
df_result_films = df_result_with_reps.loc[df_result_with_reps.program=='FILM',:]

df_result_films = df_result_films.loc[df_result_films.matCodesAssigned==2144819,:]

print("Antes del analisis")
print(df_result_films)

for index, row in df_result_films.iterrows():
    if(np.isnan(df_result_films.at[index, 'is_rep'])):
        df_result_films.at[index, 'is_rep'] = 0
        print("Analizando pppCode: " + str(index))
        start_date = row['profecha']
        end_date = pd.to_datetime(row['profecha'])
        end_date = end_date + pd.DateOffset(1)
        end_hour = row['hourFrom']
        print("Start date: " + str(start_date))
        print("End date: " + str(end_date))
        print("End hour: " + str(end_hour))
        mask = (df_result_films['profecha'] >= start_date) & (pd.to_datetime(df_result_films['profecha']) <= end_date) & (np.isnan(df_result_films['is_rep']) & (df_result_films['matCodesAssigned'] == row['matCodesAssigned']))
        for ipppCodeMat in df_result_films.loc[mask].index:
            print("pppCode repe: " + str(ipppCodeMat))
            df_result_films.at[ipppCodeMat, 'is_rep'] = 1

print("Despues del analisis")
print(df_result_films)

Antes del analisis
         programId    profecha  hourFrom    hourTo program  matCodesAssigned  \
pppCode
8754622    2001756  2020-05-01  03:30:06  04:54:29    FILM           2144819
8754615    2001756  2020-05-01  10:30:30  12:20:14    FILM           2144819
8754917    2001756  2020-05-04  18:24:24  20:13:54    FILM           2144819
8754896    2001756  2020-05-13  16:37:22  18:13:29    FILM           2144819
8755047    2001756  2020-05-14  03:41:37  05:18:38    FILM           2144819
8754793    2001756  2020-05-18  09:08:52  10:55:45    FILM           2144819
8754931    2001756  2020-05-18  18:09:33  19:58:33    FILM           2144819
8754797    2001756  2020-05-22  08:54:59  10:28:57    FILM           2144819
8755026    2001756  2020-05-23  00:04:00  02:10:33    FILM           2144819
8755031    2001756  2020-05-28  23:35:11  01:35:32    FILM           2144819
8754942    2001756  2020-05-29  18:50:55  20:19:48    FILM           2144819

                              matName  avg_rating   boxoffice classification  \
pppCode
8754622  M.S. DHONI: THE UNTOLD STORY         0.0  28903047.0            ATP
8754615  M.S. DHONI: THE UNTOLD STORY         0.0  28903047.0            ATP
8754917  M.S. DHONI: THE UNTOLD STORY         0.0  28903047.0            ATP
8754896  M.S. DHONI: THE UNTOLD STORY         0.0  28903047.0            ATP
8755047  M.S. DHONI: THE UNTOLD STORY         0.0  28903047.0            ATP
8754793  M.S. DHONI: THE UNTOLD STORY         0.0  28903047.0            ATP
8754931  M.S. DHONI: THE UNTOLD STORY         0.0  28903047.0            ATP
8754797  M.S. DHONI: THE UNTOLD STORY         0.0  28903047.0            ATP
8755026  M.S. DHONI: THE UNTOLD STORY         0.0  28903047.0            ATP
8755031  M.S. DHONI: THE UNTOLD STORY         0.0  28903047.0            ATP
8754942  M.S. DHONI: THE UNTOLD STORY         0.0  28903047.0            ATP

                  genres  runs_available  time_available  boxoffice_percentil  \
pppCode
8754622  BIOGRAFÍA,DRAMA            13.0          2020.0                  5.0
8754615  BIOGRAFÍA,DRAMA            13.0          2020.0                  5.0
8754917  BIOGRAFÍA,DRAMA            13.0          2020.0                  5.0
8754896  BIOGRAFÍA,DRAMA            13.0          2020.0                  5.0
8755047  BIOGRAFÍA,DRAMA            13.0          2020.0                  5.0
8754793  BIOGRAFÍA,DRAMA            13.0          2020.0                  5.0
8754931  BIOGRAFÍA,DRAMA            13.0          2020.0                  5.0
8754797  BIOGRAFÍA,DRAMA            13.0          2020.0                  5.0
8755026  BIOGRAFÍA,DRAMA            13.0          2020.0                  5.0
8755031  BIOGRAFÍA,DRAMA            13.0          2020.0                  5.0
8754942  BIOGRAFÍA,DRAMA            13.0          2020.0                  5.0

         is_rep
pppCode
8754622     NaN
8754615     NaN
8754917     NaN
8754896     NaN
8755047     NaN
8754793     NaN
8754931     NaN
8754797     NaN
8755026     NaN
8755031     NaN
8754942     NaN
Analizando pppCode: 8754622
Start date: 2020-05-01
End date: 2020-05-02 00:00:00
End hour: 03:30:06
pppCode repe: 8754615
Analizando pppCode: 8754917
Start date: 2020-05-04
End date: 2020-05-05 00:00:00
End hour: 18:24:24
Analizando pppCode: 8754896
Start date: 2020-05-13
End date: 2020-05-14 00:00:00
End hour: 16:37:22
pppCode repe: 8755047
Analizando pppCode: 8754793
Start date: 2020-05-18
End date: 2020-05-19 00:00:00
End hour: 09:08:52
pppCode repe: 8754931
Analizando pppCode: 8754797
Start date: 2020-05-22
End date: 2020-05-23 00:00:00
End hour: 08:54:59
pppCode repe: 8755026
Analizando pppCode: 8755031
Start date: 2020-05-28
End date: 2020-05-29 00:00:00
End hour: 23:35:11
pppCode repe: 8754942
Despues del analisis
         programId    profecha  hourFrom    hourTo program  matCodesAssigned  \
pppCode
8754622    2001756  2020-05-01  03:30:06  04:54:29    FILM           2144819
8754615    2001756  2020-05-01  10:30:30  12:20:14    FILM           2144819
8754917    2001756  2020-05-04  18:24:24  20:13:54    FILM           2144819
8754896    2001756  2020-05-13  16:37:22  18:13:29    FILM           2144819
8755047    2001756  2020-05-14  03:41:37  05:18:38    FILM           2144819
8754793    2001756  2020-05-18  09:08:52  10:55:45    FILM           2144819
8754931    2001756  2020-05-18  18:09:33  19:58:33    FILM           2144819
8754797    2001756  2020-05-22  08:54:59  10:28:57    FILM           2144819
8755026    2001756  2020-05-23  00:04:00  02:10:33    FILM           2144819
8755031    2001756  2020-05-28  23:35:11  01:35:32    FILM           2144819
8754942    2001756  2020-05-29  18:50:55  20:19:48    FILM           2144819

                              matName  avg_rating   boxoffice classification  \
pppCode
8754622  M.S. DHONI: THE UNTOLD STORY         0.0  28903047.0            ATP
8754615  M.S. DHONI: THE UNTOLD STORY         0.0  28903047.0            ATP
8754917  M.S. DHONI: THE UNTOLD STORY         0.0  28903047.0            ATP
8754896  M.S. DHONI: THE UNTOLD STORY         0.0  28903047.0            ATP
8755047  M.S. DHONI: THE UNTOLD STORY         0.0  28903047.0            ATP
8754793  M.S. DHONI: THE UNTOLD STORY         0.0  28903047.0            ATP
8754931  M.S. DHONI: THE UNTOLD STORY         0.0  28903047.0            ATP
8754797  M.S. DHONI: THE UNTOLD STORY         0.0  28903047.0            ATP
8755026  M.S. DHONI: THE UNTOLD STORY         0.0  28903047.0            ATP
8755031  M.S. DHONI: THE UNTOLD STORY         0.0  28903047.0            ATP
8754942  M.S. DHONI: THE UNTOLD STORY         0.0  28903047.0            ATP

                  genres  runs_available  time_available  boxoffice_percentil  \
pppCode
8754622  BIOGRAFÍA,DRAMA            13.0          2020.0                  5.0
8754615  BIOGRAFÍA,DRAMA            13.0          2020.0                  5.0
8754917  BIOGRAFÍA,DRAMA            13.0          2020.0                  5.0
8754896  BIOGRAFÍA,DRAMA            13.0          2020.0                  5.0
8755047  BIOGRAFÍA,DRAMA            13.0          2020.0                  5.0
8754793  BIOGRAFÍA,DRAMA            13.0          2020.0                  5.0
8754931  BIOGRAFÍA,DRAMA            13.0          2020.0                  5.0
8754797  BIOGRAFÍA,DRAMA            13.0          2020.0                  5.0
8755026  BIOGRAFÍA,DRAMA            13.0          2020.0                  5.0
8755031  BIOGRAFÍA,DRAMA            13.0          2020.0                  5.0
8754942  BIOGRAFÍA,DRAMA            13.0          2020.0                  5.0

         is_rep
pppCode
8754622     0.0
8754615     1.0
8754917     0.0
8754896     0.0
8755047     1.0
8754793     0.0
8754931     1.0
8754797     0.0
8755026     1.0
8755031     0.0
8754942     1.0

In [28]:
df_progs

,prog_start,prog_name,prog_duration,mat_code,con_code,run_count,rep_count,Feed,rating
ppp_code,,,,,,,,,
6234940,2017-01-01 00:18:00,MARATON SEX AND THE CITY,595,145290,943552,99,0,TBSH,0.04
6234945,2017-01-01 02:17:00,MARATON SEX AND THE CITY,570,145290,943552,99,1,TBSH,0.01
6233652,2017-01-01 04:11:00,PETER CAPUSOTTO,31,2118277,951012,2,1,TBSH,0.00
6233637,2017-01-01 04:42:00,WRECKED,26,2114344,949933,9,0,TBSH,0.00
6253255,2017-01-01 05:08:00,FILLERS TBS,132,568454,0,0,0,TBSH,0.00
...,...,...,...,...,...,...,...,...,...
8860154,2020-06-30 15:37:00,FILM,102,2132233,956912,6,0,TBSH,0.00
8860183,2020-06-30 17:19:00,FILM,134,2157652,967393,18,1,TBSH,0.00
8860212,2020-06-30 19:33:00,FILM,147,2114134,965753,2,0,TBSH,0.00
8860241,2020-06-30 22:00:00,FILM,89,2119864,951632,9,1,TBSH,0.00
8860270,2020-06-30 23:28:00,FILM,128,2157658,967393,7,0,TBSH,0.00

In [2]:
df_prog_films = df_progs.loc[df_progs.prog_name=='FILM',:]

df_prog_films = df_prog_films.astype({'prog_start':'datetime64'})

ds = df_prog_films[(df_prog_films['prog_start'] > '2020-05-01') & (df_prog_films['prog_start'] < '2020-05-31')].mat_code.value_counts()

ds.to_csv('Mayo-2020.txt', sep=' ', index=True)
print(ds)

2100312    9
2119442    6
149406     6
2157643    6
146985     6
          ..
2144803    1
120700     1
146998     1
2119481    1
146944     1
Name: mat_code, Length: 97, dtype: int64

In [19]:
CONS_PATH = os.path.join('Input-files','cons-27-07.csv')
df_cons = pd.read_csv(CONS_PATH, index_col='con_code') #Definimos el indice matCode

df_cons_2020 = df_cons[(df_cons['con_start'] > '2020-05-01')]

#print(df_cons_2020)
df_mats_cons = df_unique_mats.merge(df_cons, left_on='matCode', right_on='mat_code')
df_mats_cons[(df_mats_cons['matName']=='M.S. DHONI: THE UNTOLD STORY')]

,anioProd,matType,genre,matName,mmrClasification,feedCode_x,con_start,con_end,mat_code,mdeCode,total_runs,total_reps,pasadasReales,pasadasRemanentes,con_freq,feedCode_y
136,2016,LARGOMETRAJE,BIOGRAFÍA,M.S. DHONI: THE UNTOLD STORY,ATP,TBSH,2019-04-15,2020-09-30,2144819,1,14,1,1,13,24,TBSH
137,2016,LARGOMETRAJE,DRAMA,M.S. DHONI: THE UNTOLD STORY,ATP,TBSH,2019-04-15,2020-09-30,2144819,1,14,1,1,13,24,TBSH